%h1 portfolio
%h3
  Name: #{@portfolio.name}
  %br
  Description: #{@portfolio.description}
  %br
  = link_to edit_user_portfolio_path(@user, @portfolio) do
    %i.btn.btn-default
      %span.glyphicon.glyphicon-edit{class: 'glyph'}
  = link_to user_portfolio_path(@user, @portfolio), method: :delete do
    %i.btn.btn-default
      %span.glyphicon.glyphicon-trash{class: 'glyph'}