-if user_signed_in?
  .container
    .jumbotron
      %h1 FindMe
      %p.lead aslkdjfsiad sdijfksmdf dfjkeown ownwo  oudnvkd ufnrkihspasfke
      %p
        %i.btn.btn-default.green
          =link_to new_user_registration_path do
            Get Started