%h1 about
%h3
  About: #{@about.description}
  %br
  = link_to edit_user_about_path(@user, @about) do
    %i.btn.btn-default
      %span.glyphicon.glyphicon-edit{class: 'glyph'}
  = link_to user_about_path(@user, @about), method: :delete do
    %i.btn.btn-default
      %span.glyphicon.glyphicon-trash{class: 'glyph'}