body {
  background-color: #E6F7F4;
}
.jumbotron {
  background-color: #C5DEDA;
}
.btn.btn-default.navl {
  background-color: #EDDDDD;
}
.btn.btn-default.navl:hover {
  background-color: #E3D1D1;
}
.btn.btn-default {
  background-color: #83F795;
}
.btn.btn-default:hover {
  background-color: #73DE83;
}